.home {
  height: 700px;
  background-size: cover;
}

.head {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(173, 86, 14);
  font-size: 60px;
}

.posts {
  width: 350px;
}

.title {
  font-size: 20px;
  margin-right: 450px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
