.title {
  color: black;
}

.postsView {
  width: 700px;
  text-align: left;
}

.singlePostView {
  border-top: 1px solid black;
  font-weight: 400;
  margin: 10px;
  color: black;
}

.date {
  margin-left: 70%;
}

.postTitle {
  text-align: left;
}

.username {
  margin-right: 20%;
}

.like {
  position: relative;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: rgba(22, 1, 4, 0.5);
  z-index: 1;
  transition: background-color 0.5s ease-in-out;
}

.like::after {
  content: "\002764";
  position: absolute;
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
  color: rgb(0, 0, 0);
}

.like:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
